html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/bg-s.jpg);
    background-size: 37.5px;
    background-repeat: repeat;
}

/*a {
    display: inline-block;
}*/

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 65px;
}

.spec {
    font-size: 30px;
}



h2 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    /* text-shadow: 0px 3px 10px #152b58e6, 0px -3px 10px #152b58e6, 3px 0px 10px #152b58e6, -3px 0px 10px #152b58e6;*/
    text-shadow: 3px 3px 1px #152b58e6;
    
}

.space {
    margin-top: 100px;
    margin-bottom: 40px;
}

.nav-box {
    background-color: #152b58e6; //    box-shadow: 2px 0 5px black;
    /* border-bottom: 3px solid white;*/
    position: sticky;
    top: 0;
    z-index: 3000;


    nav {
        .nav-item {
            padding: 0 10px;
            display: flex;
            justify-content: center;

            div {

                width: 150px;
                border-radius: 20px;
                text-align: center;

                a {
                    color: white;
                    line-height: 16px;
                }
            }

            div:hover {
                background-color: white;

                a {
                    color: #006ABA;
                }
            }
        }
    }

    .navbar {
        position: relative;

        .home {
            position: absolute;
            top: 11px;
            left: 0;

            cursor: pointer;

            p {
                margin-bottom: 0;
                color: white;
                text-transform: uppercase;

                i {
                    font-size: 20px;
                }
            }
        }
    }
}


@media (min-width: 992px) {
    .slide {
        height: 60vh !important;
        flex-direction: row;

        .bg-left {
            background-image: none !important;

            div:not(.check) {
                background-color: white !important;
                padding-left: 20% !important;

                h3,
                p {
                    color: #006aba !important;
                    text-align: left !important;
                    margin-left: 50px;

                }
            }

            .middle {
                margin: 0 0 8% 0 !important;
                display: flex;
                align-items: center;


                .logo {
                    margin: 30px !important;
                    width: 130px !important;
                }

                p {
                    color: #006aba !important;
                    text-align: left !important;
                    margin-bottom: 0;
                    margin-top: 4%;
                    font-size: 24px !important;
                    margin-left: 0 !important;
                }
            }
        }

        .bg-right {
            display: flex !important;
            width: 130%;
            height: 100%;
            align-items: center;
        }
    }

    a:focus {
    outline: 0;
} 
    
    .check {
        border: 2px solid #006aba;
        color: #006aba;
        padding: 10px;
        font-weight: bold;
        margin-left: 50px;
        margin-top: 10px;
    }
    
    .check:hover {
        background-color: #006aba;
        color: white;
    }

    .slick-dots {
        bottom: 33px !important;
        text-align: left;
        left: 10%;
        margin-left: 20px;



        .slick-active {
            button:before {
                color: #006aba !important;
            }
        }
    }
    
    .offer-element {
        padding: 20px 20px !important;
    }
}


.site-header {
    padding: 15% 0;
}

header {
    position: relative;
    overflow: hidden;


    /* main slider */

    .responsive {
        background-color: white;
        width: 100%;
        height: 100%;
        box-shadow: 0 10px 20px #152b58e6;
        ;


        .slide {
            display: flex;
            width: 100%;
            height: 70vh;
            align-items: center;


            /* lewa komórka */
            #bg1 {
                background-image: url(../img/slider/wizytowki_844x626.png);
            }

            #bg2 {
                background-image: url(../img/slider/zaproszenia_844x626.png);
            }

            #bg3 {
                background-image: url(../img/slider/identyfikatory_844x626.png);
            }

            #bg4 {
                background-image: url(../img/slider/etykiety_844x626.png);
            }

            .bg-left {
                width: 100%;
                height: 100%;

                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                /* width: 45%;
                padding-left: 20%;
                padding-right: 15px;
*/

                div:not(.check) {
                    margin-bottom: 50px;
                    background-color: rgba(0, 107, 187, 0.5);
                    width: 100%;
                    height: 100%;
                    padding: 10%;
                }

                .middle {
                    margin: 0 auto;
                    /* display: flex;
                    margin-bottom: 50px;

                    padding-top: 50px;*/


                    .logo {
                        margin: 0 auto;
                        width: 96px;
                        /* filter: invert(1);*/
                        max-height: 130px;
                    }

                    p {
                        /*margin-top: 38px;
                        margin-left: 10px;*/
                        color: white;
                        text-decoration: none;
                        font-size: 20px;
                        font-weight: 900;
                    }

                }


                h3,
                p {
                    text-align: center;
                    color: white;
                    /*  margin-left: 10px;
                    margin-right: 80px;*/
                }

                h3 {
                    font-weight: 900;
                    font-size: 30px;
                }

                p {
                    font-weight: 600;
                }
            }

            /*prawa połówka */

            .bg-right {
                display: none;
                /* width: 55%;*/
            }
        }


    }

    /*nawigacja slidera */
    .slick-dots {

        bottom: 19px;
        /*  bottom: 300px;
        left: -510px;*/

        li {
            button {
                height: 40px;
                width: 40px;
            }

            button:before {
                transform: scale(2);
            }
        }

        li.slick-active {

            button:before {
                color: white;
            }
        }
    }
}

.merchandise {
    margin-top: 40px;

    div {
        background-color: white;
        box-shadow: 0 2px 2px black;
        width: 100%;
        padding: 25px 0;
        border-radius: 20px;
        transition: .5s;

        a {
            color: black;
        }

        img {
            width: 50%;
            margin: 0 auto;
            display: block;
        }

        p {
            text-align: center;
            margin-bottom: 0;
            margin-top: 10px;
        }
    }

    div:hover {
        transform: scale(1.1);
        box-shadow: 0 3px 10px black;
    }
}

.info {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}


.logo-box {
    width: 100%;
    padding: 25px 0;

    img {
        width: 100%;
    }
}

.logos {
    padding: 0 15px;

    img {
        width: 100%;
        border-radius: 20px;

    }
}

/*stopka*/


footer {
    border-top: 3px solid white;
    background-color: #000000c7;
    padding: 15px 0;
    color: white;
    margin-top: 170px;

    .offer {

        p {
            font-size: 14px;
            word-break: keep-all;
            hyphens: none;
        }
    }

    .contact,
    .offer {
        padding: 20px 29px;

        h4 {
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }


    .mrgoat {
        margin-right: 15%;

    }

    .boss-box {
        h5 {
            margin-bottom: 16px;
        }
    }
}

.return {
    display: none;
    height: 50px;
    width: 50px;
    background-color: black;
    border: 1px solid white;
    font-size: 25px;
    margin: 0 auto;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 3px 1px black;

    a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #006aba;
    }


}

.go-down {
    height: 50px;
    width: 50px;
    background-color: black;
    border: 1px solid white;
    font-size: 25px;
    margin: 0 auto;
    background-color: white;
    border-radius: 50%;

    a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #006aba;

        i {
            font-weight: bold;
        }
    }


}

.contact {
    width: 100%;

    p {
        font-size: 14px;
    }
}

.invert {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff38;
    transition: 1s;
    margin-bottom: 20px;
}

.weight {
    font-weight: bold;
}


.rodo {
    text-align: center;
    font-size: 14px;
    
    a {
        text-decoration: none;
        color: white;
    }
    
    a:hover {
        color: #006aba;
    }
}


/* RWD */
@media (max-width: 426px) {
    h1 {
        font-size: 45px;
        text-align: center;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 25px;
        text-align: center;
    }

    .spec {
        font-size: 20px;
        text-align: center;
    }



    .logo {
        margin: 0 auto;
        display: block;
    }

}



@media (min-width: 768px) {
    .merchandise--offer-box {
        display: flex !important;
        text-align: left !important;
    }

    .boss-box {
        display: flex;

    }
}

@media (min-width: 992px) {
    .content-box {
        text-align: left !important;
    }
}


@media (min-width: 1024px) {
    .offer {
        width: 50%;
        padding-right: 8% !important;
    }

    .contact {
        width: 50%;
    }
}




/* bootstrap fix for 5 columns */

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
