@charset "UTF-8";
html {
  scroll-behavior: smooth; }

body {
  background-image: url(../img/bg-s.jpg);
  background-size: 37.5px;
  background-repeat: repeat; }

/*a {
    display: inline-block;
}*/
a:hover {
  text-decoration: none; }

h1 {
  font-size: 65px; }

.spec {
  font-size: 30px; }

h2 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 3px 3px 1px #152b58e6; }

.space {
  margin-top: 100px;
  margin-bottom: 40px; }

.nav-box {
  background-color: #152b58e6;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3000; }
  .nav-box nav .nav-item {
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .nav-box nav .nav-item div {
      width: 150px;
      border-radius: 20px;
      text-align: center; }
      .nav-box nav .nav-item div a {
        color: white;
        line-height: 16px; }
    .nav-box nav .nav-item div:hover {
      background-color: white; }
      .nav-box nav .nav-item div:hover a {
        color: #006ABA; }
  .nav-box .navbar {
    position: relative; }
    .nav-box .navbar .home {
      position: absolute;
      top: 11px;
      left: 0;
      cursor: pointer; }
      .nav-box .navbar .home p {
        margin-bottom: 0;
        color: white;
        text-transform: uppercase; }
        .nav-box .navbar .home p i {
          font-size: 20px; }

@media (max-width: 1569px) {
  .bg-right img {
    height: 100% !important; } }
@media (min-width: 1200px) {
  .bg-left div:not(.check) {
    padding-left: calc((100vw - 1140px) / 2) !important; }

  .slick-dots {
    left: calc((100vw - 1175px) / 2) !important; } }
@media (min-width: 992px) {
  .slide {
    height: 581px !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .slide .bg-left {
      background-image: none !important; }
      .slide .bg-left div:not(.check) {
        background-color: white !important;
        padding-top: 5% !important; }
        .slide .bg-left div:not(.check) h3,
        .slide .bg-left div:not(.check) p {
          color: #006aba !important;
          text-align: left !important; }
      .slide .bg-left .middle {
        margin: 0 0 8% 0 !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .slide .bg-left .middle .logo {
          margin: 30px 30px 30px -19px !important;
          width: 130px !important; }
        .slide .bg-left .middle p {
          color: #006aba !important;
          text-align: left !important;
          margin-bottom: 0;
          margin-top: 4%;
          font-size: 24px !important;
          margin-left: 0 !important; }
    .slide .bg-right {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      width: 100%;
      height: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }

  a:focus {
    outline: 0; }

  .check {
    border: 2px solid #006aba;
    color: #006aba;
    padding: 10px;
    font-weight: bold;
    margin-top: 10px; }

  .check:hover {
    background-color: #006aba;
    color: white; }

  .slick-dots {
    bottom: 33px !important;
    text-align: left;
    margin-left: 20px;
    left: calc((100vw - 960px) / 2); }
    .slick-dots .slick-active button:before {
      color: #006aba !important; }

  .offer-element {
    padding: 20px 20px !important; } }
.site-header {
  padding: 15% 0; }

header {
  position: relative;
  overflow: hidden;
  /* main slider */
  /*nawigacja slidera */ }
  header .responsive {
    background-color: white;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 10px 20px #152b58e6;
            box-shadow: 0 10px 20px #152b58e6; }
    header .responsive .slide {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 470px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      /* lewa komórka */
      /*prawa połówka */ }
      header .responsive .slide #bg1 {
        background-image: url(../img/slider/wizytowki_844x626.png); }
      header .responsive .slide #bg2 {
        background-image: url(../img/slider/zaproszenia_844x626.png); }
      header .responsive .slide #bg3 {
        background-image: url(../img/slider/identyfikatory_844x626.png); }
      header .responsive .slide #bg4 {
        background-image: url(../img/slider/etykiety_844x626.png); }
      header .responsive .slide .bg-left {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
                /* width: 45%;
                padding-left: 20%;
                padding-right: 15px;
*/ }
        header .responsive .slide .bg-left div:not(.check) {
          margin-bottom: 50px;
          background-color: rgba(0, 107, 187, 0.5);
          width: 100%;
          height: 100%;
          padding-top: 10%;
          padding-bottom: 10%;
          padding-right: 10%;
          padding-left: 10%; }
        header .responsive .slide .bg-left .middle {
          margin: 0 auto; }
          header .responsive .slide .bg-left .middle .logo {
            margin: 0 auto;
            width: 96px;
            max-height: 130px; }
          header .responsive .slide .bg-left .middle p {
            color: white;
            text-decoration: none;
            font-size: 20px;
            font-weight: 900; }
        header .responsive .slide .bg-left h3,
        header .responsive .slide .bg-left p {
          text-align: center;
          color: white; }
        header .responsive .slide .bg-left h3 {
          font-weight: 900;
          font-size: 30px; }
        header .responsive .slide .bg-left p {
          font-weight: 600; }
      header .responsive .slide .bg-right {
        display: none;
        /* width: 55%;*/ }
  header .slick-dots {
    bottom: 19px; }
    header .slick-dots li button {
      height: 40px;
      width: 40px; }
    header .slick-dots li button:before {
      -webkit-transform: scale(2);
              transform: scale(2); }
    header .slick-dots li.slick-active button:before {
      color: white; }

.merchandise {
  margin-top: 40px; }
  .merchandise div {
    background-color: white;
    -webkit-box-shadow: 0 2px 2px black;
            box-shadow: 0 2px 2px black;
    width: 100%;
    padding: 25px 0;
    border-radius: 20px;
    -webkit-transition: .5s;
    transition: .5s; }
    .merchandise div a {
      color: black; }
    .merchandise div img {
      width: 50%;
      margin: 0 auto;
      display: block; }
    .merchandise div p {
      text-align: center;
      margin-bottom: 0;
      margin-top: 10px; }
  .merchandise div:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0 3px 10px black;
            box-shadow: 0 3px 10px black; }

.info {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white; }

.logo-box {
  width: 100%;
  padding: 25px 0; }
  .logo-box img {
    width: 100%; }

.logos {
  padding: 0 15px; }
  .logos img {
    width: 100%;
    border-radius: 20px; }

/*stopka*/
footer {
  border-top: 3px solid white;
  background-color: #000000c7;
  padding: 15px 0;
  color: white;
  margin-top: 170px; }
  footer .offer p {
    font-size: 14px;
    word-break: keep-all;
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none; }
  footer .contact,
  footer .offer {
    padding: 20px 29px; }
    footer .contact h4,
    footer .offer h4 {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px; }
  footer .mrgoat {
    margin-right: 15%; }
  footer .boss-box h5 {
    margin-bottom: 16px; }

.return {
  display: none;
  height: 50px;
  width: 50px;
  background-color: black;
  border: 1px solid white;
  font-size: 25px;
  margin: 0 auto;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  -webkit-box-shadow: 0 0 3px 1px black;
          box-shadow: 0 0 3px 1px black; }
  .return a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #006aba; }

.go-down {
  height: 50px;
  width: 50px;
  background-color: black;
  border: 1px solid white;
  font-size: 25px;
  margin: 0 auto;
  background-color: white;
  border-radius: 50%; }
  .go-down a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #006aba; }
    .go-down a i {
      font-weight: bold; }

.contact {
  width: 100%; }
  .contact p {
    font-size: 14px; }

.invert {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff38;
  -webkit-transition: 1s;
  transition: 1s;
  margin-bottom: 20px; }

.weight {
  font-weight: bold; }

.rodo {
  text-align: center;
  font-size: 14px; }
  .rodo a {
    text-decoration: none;
    color: white; }
  .rodo a:hover {
    color: #006aba; }

/* RWD */
@media (max-width: 426px) {
  h1 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px; }

  h2 {
    font-size: 25px;
    text-align: center; }

  .spec {
    font-size: 20px;
    text-align: center; }

  .logo {
    margin: 0 auto;
    display: block; } }
@media (min-width: 768px) {
  .merchandise--offer-box {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    text-align: left !important; }

  .boss-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }
@media (min-width: 992px) {
  .content-box {
    text-align: left !important; } }
@media (min-width: 1024px) {
  .offer {
    width: 50%;
    padding-right: 8% !important; }

  .contact {
    width: 50%; } }
/* bootstrap fix for 5 columns */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-5ths {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left; } }
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%; }

@media (min-width: 540px) {
  .col-sm-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }
@media (min-width: 720px) {
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }
@media (min-width: 960px) {
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }
@media (min-width: 1140px) {
  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }

/*# sourceMappingURL=main.css.map */